@import "_reset.scss";

html,
body {
	height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$bg-color: #181818;
$alt-bg-color: #202020;
$light-gray: #aaaaaa;

.nav-page {
	$link-color: rgb(0, 192, 0);
	width: 100%;
	min-height: 100%;
	background-color: $bg-color;
	display: flex;
	flex-direction: column;
	font-family: "Roboto Mono";
	font-size: 36px;
	h1 {
		text-align: center;
		color: white;
		font-size: 2em;
		margin: 0.5em;
	}
	nav {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-grow: 2;
		ul {
			width: 85%;
			height: 85%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-content: center;
			box-sizing: border-box;
			li {
				width: 20em;
				height: 4em;
				display: inline-block;
				background-color: $alt-bg-color;
				border: 2px solid $light-gray;
				border-radius: 1em;
				margin: 0.5em;
				box-sizing: border-box;
				transition: 0.25s linear;
				a {
					box-sizing: border-box;
					padding: 1em;
					width: 100%;
					height: 100%;
					text-decoration: none;
					color: $link-color;
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;
				}
				&:hover {
					box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
					transform: translate3d(4px, -4px, 0);
					border-width: 4px;
					a {
						text-decoration: underline;
						text-decoration-color: $link-color;
					}
				}
			}
		}
	}
	@media screen and (max-width: 719px) {
		font-size: 16px;
		h1 {
			margin: 0.5em;
		}
		nav {
			flex-direction: column;
			align-items: center;
			ul {
				width: 85%;
				flex-grow: 2;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: start;
				li {
					width: 100%;
					overflow: hidden;
					margin: 1em 0;
				}
			}
		}
	}
}

.projects-page {
	width: 100%;
	min-height: 100%;
	background-color: $bg-color;
	font-size: 24px;
	font-family: "Roboto Mono";
	h1 {
		width: 100%;
		color: white;
		text-align: center;
		font-size: 4em;
		margin-bottom: 0.25em;
	}
	ul {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 85%;
		margin: auto;
		li {
			background-color: $alt-bg-color;
			margin-top: 1em;
			$width: 360px;
			$multiplier: 1.414;
			width: $width;
			height: $width * $multiplier;
			border: 2px solid $light-gray;
			border-radius: 1em;
			img {
				display: block;
				height: 100%/3;
				margin: 0.5em auto 1em auto;
			}
			h2 {
				font-size: 1.25em;
				color: white;
				text-align: center;
				margin: 1em auto;
			}
			p {
				width: 85%;
				margin: 0 auto;
				margin-top: 0.5em;
				font-size: 0.75em;
				color: $light-gray;
				text-align: center;
				height: calc(100% - (100% / 3) - 5.5em - 4px);
				/*
				100%/3 is the height of the image
				1em from the h2 + 1em from the a + (0.5em + 0.5em) from the img margin + 0.5 em from the p margin-top
				4px from (2px + 2px) from the a border
				*/
			}
			a {
				font-size: 1.25em;
				display: block;
				width: 4em;
				text-align: center;
				margin: auto;
				background-color: $bg-color;
				border: 2px solid $light-gray;
				border-radius: 0.75em;
				text-decoration: none;
				color: white;
				transition: 0.25s linear;
				&:hover {
					$amount: 3px;
					box-shadow: -$amount $amount $amount rgba(0, 0, 0, 0.5);
					transform: translate3d($amount, -$amount, 0);
				}
			}
		}
	}
}
