/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

.nav-page {
  width: 100%;
  min-height: 100%;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto Mono";
  font-size: 36px;
}

.nav-page h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 0.5em;
}

.nav-page nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.nav-page nav ul {
  width: 85%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-page nav ul li {
  width: 20em;
  height: 4em;
  display: inline-block;
  background-color: #202020;
  border: 2px solid #aaaaaa;
  border-radius: 1em;
  margin: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.nav-page nav ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #00c000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-page nav ul li:hover {
  -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(4px, -4px, 0);
          transform: translate3d(4px, -4px, 0);
  border-width: 4px;
}

.nav-page nav ul li:hover a {
  text-decoration: underline;
  -webkit-text-decoration-color: #00c000;
          text-decoration-color: #00c000;
}

@media screen and (max-width: 719px) {
  .nav-page {
    font-size: 16px;
  }
  .nav-page h1 {
    margin: 0.5em;
  }
  .nav-page nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-page nav ul {
    width: 85%;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .nav-page nav ul li {
    width: 100%;
    overflow: hidden;
    margin: 1em 0;
  }
}

.projects-page {
  width: 100%;
  min-height: 100%;
  background-color: #181818;
  font-size: 24px;
  font-family: "Roboto Mono";
}

.projects-page h1 {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 4em;
  margin-bottom: 0.25em;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
  margin: auto;
}

ul li {
  background-color: #202020;
  margin-top: 1em;
  width: 360px;
  height: 509.04px;
  border: 2px solid #aaaaaa;
  border-radius: 1em;
}

ul li img {
  display: block;
  height: 100%/3;
  margin: 0.5em auto 1em auto;
}

ul li h2 {
  font-size: 1.25em;
  color: white;
  text-align: center;
  margin: 1em auto;
}

ul li p {
  width: 85%;
  margin: 0 auto;
  margin-top: 0.5em;
  font-size: 0.75em;
  color: #aaaaaa;
  text-align: center;
  height: calc(100% - (100% / 3) - 5.5em - 4px);
  /*
				100%/3 is the height of the image
				1em from the h2 + 1em from the a + (0.5em + 0.5em) from the img margin + 0.5 em from the p margin-top
				4px from (2px + 2px) from the a border
				*/
}

ul li a {
  font-size: 1.25em;
  display: block;
  width: 4em;
  text-align: center;
  margin: auto;
  background-color: #181818;
  border: 2px solid #aaaaaa;
  border-radius: 0.75em;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

ul li a:hover {
  -webkit-box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(3px, -3px, 0);
          transform: translate3d(3px, -3px, 0);
}
/*# sourceMappingURL=style.css.map */