@import "_reset.scss";

html,
body {
	height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$font-size: 20px;
$header-height: $font-size * 2;

body {
	font-family: "Roboto Mono";
	width: 100%;
	color: white;

	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #191919;
		height: $header-height;
		display: flex;
		a {
			height: 100%;
			margin: auto $font-size;
			padding: 0 $font-size/2;
			display: inline-block;
			background-color: green;
			text-decoration: none;
			color: inherit;
			background-color: inherit;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			font-size: $font-size;
			&:hover {
				background-color: #434343;
			}
		}
		img {
			filter: invert(75%);
			height: $font-size;
			margin: auto 0;
		}
	}
	nav {
		width: 100%;
		padding-top: $header-height;
		height: calc(100vh - #{$header-height});
		background-color: #202020;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		a {
			font-size: $font-size * 2;
			display: inline-flex;
			flex-flow: column nowrap;
			background-color: inherit;
			padding: $font-size;
			text-decoration: none;
			color: inherit;
			align-items: center;
			border: 3px solid white;
			border-radius: $font-size * 2;
			img {
				height: $font-size * 4;
				filter: invert(100%);
				padding: $font-size/2;
			}
			&:hover {
				background-color: #4d4d4d;
			}
		}
	}
}
